<h2>Here is a list of all the post for a particular user</h2>
<section id="each_user_allpost">
    <%= render "shared/user", user: @user %>
    <br>

    <div class="all_post">
        <% @user.posts.each do |post|%>
            <div class="each_post">
                <div class="post_details">
                    <h3><%= post.title%></h3>
                    <p class="post_text"><%= post.text %></p>
                    <p class="comments_likes_count">
                        Comments: <%= post.comments_counter || 0%>,
                        Likes: <%= post.likes_counter || 0%>
                    </p>
                    <%= link_to "view post", user_post_path(@user, post) %> <br>
                    <div>
                        <%= link_to "Add new comment", new_user_post_comment_path(@user, post)%>
                    </div>
                    
                </div>

                <div class="post_comments">
                    <h4>Comments</h4>
                    <% post.five_recent_comments.each do |comment| %>
                        <ul>
                            <li><%= comment.author.name%>: <%= comment.text %></li>
                        </ul>

                    <% end %>

                </div>
                
            </div>

        <%end%>

        <div>
            <%= link_to "Add new post", new_user_post_path(@user)%>
        </div>

    </div>


</section>
