<h2>Here is a list of all the post for a particular user</h2>
<section id="each_user_allpost">
    <%= render "shared/user", user: @user %>
    <br>

    <div class="all_post">
        <%= @user_posts.each do |post|%>
            <div class="each_post">
                <div class="post_details">
                    <h3><%= post.title%></h3>
                    <p class="post_text"><%= post.text %></p>
                    <p class="commentsCount">
                        Comments: <%= post.comments_counter %>,
                        Likes: <%= post.likes_counter %>
                    </p>
                    <%= link_to "view post", user_post_path(@user, post) %>
                </div>

                <div class="post_comments">
                    <h4>Comments</h4>
                    <% @post_comments.each do |comment| %>
                        <ul>
                            <% if comment.post_id === post.id %>
                                <li><%= comment.author.name%>: <%= comment.text %></li>
                            <% end %>
                        </ul>

                    <% end %>

                </div>
                
            </div>

        <%end%>


    </div>


</section>
